<footer>
  <div class="container text-white">
    <div class="cover text-center">
      <p class="title">國立陽明交通大學 電機工程學系 微系統與控制實驗室</p>
      <p class="subtitle">
        Micro System Control Lab (μSCLab), Department of Electrical and Computer
        Engineering, NYCU
      </p>
    </div>
    <div class="info">
      <p>指導教授：邱俊誠 教授</p>
      <p>學校地址：300 新竹市東區大學路1001號 國立陽明交通大學新竹光復校區</p>
      <p>學校總機：(03) 5712121</p>
      <p>聯絡信箱：kyyang@nycu.edu.tw</p>
    </div>
    <div class="row info mt-2">
      <div class="col-md-3">
        <p>● 研究室 1</p>
        <p>位置：工程五館 617 室</p>
        <p>分機：#54437</p>
      </div>
      <div class="col-md-3">
        <p>● 研究室 2</p>
        <p>位置：工程五館 813 室</p>
        <p>分機：#54473</p>
      </div>
      <div class="col-md-3">
        <p>● 實驗室</p>
        <p>位置：工程五館 902 室</p>
        <p>分機：#54422</p>
      </div>
      <div class="col-md-3">
        <p>● 教授辦公室</p>
        <p>位置：工程五館 772 室</p>
        <p>分機：#31881</p>
      </div>
    </div>
    <p class="mt-2">Copyright © 2021 μSCLab, DECE, NYCU All rights reserved</p>
  </div>
</footer>
