<header>
  <div class="container">
    <div class="cover text-center">
      <p class="title">國立陽明交通大學 電機工程學系 微系統與控制實驗室</p>
      <p class="subtitle">
        Micro System Control Lab (μSCLab), Department of Electrical and Computer
        Engineering, NYCU
      </p>
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav d-flex justify-content-between w-100">
          <li class="nav-item">
            <a class="nav-link" href="#">首頁</a>
          </li>
          <div class="dot"></div>
          <li class="nav-item">
            <a class="nav-link" href="#">最新消息</a>
          </li>
          <div class="dot"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">關於實驗室</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">實驗室介紹</a></li>
              <li><a class="dropdown-item" href="#">實驗室設備</a></li>
              <li><a class="dropdown-item" href="#">申請表單</a></li>
              <li><a class="dropdown-item" href="#">生活花絮</a></li>
            </ul>
          </li>
          <div class="dot"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">成員介紹</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">指導教授</a></li>
              <li><a class="dropdown-item" href="#">實驗室成員</a></li>
              <li><a class="dropdown-item" href="#">畢業生</a></li>
            </ul>
          </li>
          <div class="dot"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">研究主題</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">執行中計畫</a></li>
              <li><a class="dropdown-item" href="#">過去執行計畫</a></li>
              <li><a class="dropdown-item" href="#">計畫執行成果</a></li>
              <li><a class="dropdown-item" href="#">研究方向</a></li>
            </ul>
          </li>
          <div class="dot"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">論文發表</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">期刊論文 (Referred Paper)</a></li>
              <li><a class="dropdown-item" href="#">研討會論文 (Conference Paper)</a></li>
            </ul>
          </li>
          <div class="dot"></div>
          <li class="nav-item">
            <a class="nav-link" href="#">競賽榮譽</a>
          </li>
          <div class="dot"></div>
          <li class="nav-item">
            <a class="nav-link" href="#">教學課程</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
