<header>
  <div class="container">
    <div class="cover text-center">
      <p class="title d-flex flex-wrap text-center justify-content-center">
        <span class="text-nowrap me-2">國立陽明交通大學</span>
        <span class="text-nowrap me-2">電機工程學系</span>
        <span class="text-nowrap">微系統與控制實驗室</span>
      </p>
      <p class="subtitle">
        Micro System Control Lab (μSCLab), Department of Electrical and Computer
        Engineering, NYCU
      </p>
    </div>
  </div>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav d-flex justify-content-between w-100">
            <li class="nav-item">
              <a class="nav-link" href="/">首頁</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/最新消息/">最新消息</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >關於實驗室</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/實驗室介紹/">實驗室介紹</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/實驗室設備/">實驗室設備</a>
                </li>
                <li><a class="dropdown-item" href="/申請表單/">申請表單</a></li>
                <li><a class="dropdown-item" href="/生活花絮/">生活花絮</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >成員介紹</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/指導教授/">指導教授</a></li>
                <li>
                  <a class="dropdown-item" href="/實驗室成員/">實驗室成員</a>
                </li>
                <li><a class="dropdown-item" href="/畢業生/">畢業生</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >研究主題</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/執行中計畫/">執行中計畫</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/過去執行計畫/"
                    >過去執行計畫</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/計畫執行成果/"
                    >計畫執行成果</a
                  >
                </li>
                <li><a class="dropdown-item" href="/研究方向/">研究方向</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >論文發表</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/期刊論文-referred-paper/"
                    >期刊論文 (Referred Paper)</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/研討會論文-conference-paper/"
                    >研討會論文 (Conference Paper)</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/競賽榮譽/">競賽榮譽</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/教學課程/">教學課程</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
