<main class="page">
  <div class="container">
    <h1><%- page.title %></h1>
    
    <div class="d-flex justify-content-between mb-5">
      <a href="/最新消息" class="btn btn-primary">返回最新消息</a>
      <p class="mb-0">發布時間：<%- date_format(page.date) %></p>
    </div>
    <%- page.content %>
  </div>
</main>
