<main class="table">
  <div class="container">
    <h1><%- page.title %></h1>
    <table id="datatable" class="display"></table>
    <script>
      Papa.parse("index.csv", {
        download: true,
        complete: (result) => {
          const data = result.data.filter(i => i.join() != "")
          const title = data.shift().map((x) => ({ title: x }));
          for (const num in data) {
            for (const key in data[num]) {
              if (data[num][key].includes("images")) {
                data[num][key] = <a href="${data[num][key]}" target="_blank" ><img src="${data[num][key]}" /></a>;
              }
            }
          }
          $.fn.dataTable.ext.errMode = 'none';
          $("#datatable").DataTable({
            data: data,
            columns: title,
          });
        },
      });
    </script>
  </div>
</main>
